* {
    margin: 0;
    padding: 0;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 20vh;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
.header {
    width: 100vw;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 222, 222);
    border-bottom: 3px solid grey;
    margin-bottom: 20px;
}

.header h1 {
    width: 5em;
    border: 1px solid black;
    background-color: whitesmoke;
    text-align: center;
    padding: 5px 3px;
    border: 2px solid grey;
    border-radius: 10px 0px;
    margin-bottom: 8px;
}

#topics {
    width: 140px;
    margin-top: 10px;
    padding: 4px;
    border-radius: 5px 5px;
}

a {
    text-decoration: none;
    color: rgb(5, 5, 5);
}

nav {
    padding-top: 1em;
}

.nav {
    font-size: larger;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(180, 180, 180);
    text-decoration: none;
    color: white;
    background-color: rgb(180, 180, 180);
    box-shadow: 2px 2px 8px 0px rgb(50, 50, 50);
    border-radius: 4px 4px;
  }
  
.nav:hover {
    color: rgb(180, 180, 180);
    background-color: white;
    transition: background-color 0.4s;
    transition: color 0.4s;
}

button {
    border: 1px solid black;
    border-radius: 5px/5px;
    width: 35px;
    height: 35px;
    margin: 8px;
    box-shadow: 2px 2px 1px 1px darkgrey;
}

button:hover{
    background-color: rgb(220, 220, 220);
    box-shadow: 1px 1px 1px 1px rgb(144, 144, 144);
}

.filters {
    padding: 15px 30px;
}

ul {
    list-style: none;
}

.article-list{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.article-in-list {
    padding: 10px;
    width: 90vw;
    align-items: center;
    list-style: none;
    border: 2px solid grey;
    border-radius: 10px/10px;
    padding: 5px;
    margin: 15px auto;
}

.page {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.page * {
    margin: 10px;
    width: 80px;
    text-align: center;
}

.article-box {
    display: grid;
    justify-content: center;
    gap: 10px 10px;
}

.article-author-link {
    font-size: larger;
    font-weight: 600;
}
.article-topic {
    margin: 5px 5px;
}

.article-title{
    grid-row-start: 2;
    grid-column-start: 2;
}
.article-box section {
    display: flex;  
    justify-content: space-between;
    
}
.article-img {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 40vw;
    max-width: 400px;
}

#topic {
    font-size: larger;
    font-weight: 600;
    padding: 5px 3px;
    border: 2px solid grey;
    border-radius: 10px 0px;
    margin-left: 5vw;
    width: 100px;
    text-align: center;
}

#author {
    font-size: x-large;
    margin: auto 5vw;

}

#author:hover {
    text-decoration: underline
}

#created_at {
    font-size: larger;
    font-weight: 600;
    text-align: right;
    margin-right: 5vw;
}

.article img {
    width: 50vw;
    max-width: 400px;
    border-radius: 5px 5px;
    margin: 20px;
    margin-left: 5vh;
}

.article h3 {
    font-size: x-large;
    text-align: center;
    padding-bottom: 4px;
    border-bottom: 1px dashed black;
    width: 90vw;
    margin: 0 auto;
    margin-top: 15px;
}

#body {
    margin-left: 5vw;
    width: 90vw;
    text-align: justify;
}

.article section {
    display: flex;
    flex-direction: row;
    margin: 30px 5vw;
}

#comments {
    font-size: larger;
    margin-left: 5vw;
}

.comment-list {
    width: 90vw;
    margin: auto;
}

.comment-in-list {
    border: 1px dotted darkgray;
    border-radius: 4px 4px;
    margin: 1em;
}

.comment-author-link {
    font-size: larger;
    font-weight: 600;
    margin-left: 1em;
}

.comment-created-at{
    text-align: right;
    margin-right: 1em;
}

.comment-body {
    margin: 0 2em;
}

.voted {
    background-color: rgb(220, 220, 220);
}

.votes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    margin: 1em auto;
}

/* @media only screen and (min-width: 600px) {
    .article-list { 
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
            '';

    }

    .article-in-list {
        margin: 1em;
    }
} */