* {
    margin: 0;
    padding: 0;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 20vh;
}

.mini-loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    margin: auto auto;
    position: absolute;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
.header {
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    background-color: #dedede;
    border-bottom: 3px solid grey;
    align-items: center;
}

.header h1 {
    width: 5em;
    background-color: whitesmoke;
    text-align: center;
    padding: 5px 3px;
    border: 2px solid grey;
    border-radius: 10px 0px;
    margin-right: 50vw;
}

.header h1:hover{
    background-color: white;
}

.user {
    width: 5em;
    background-color: whitesmoke;
    text-align: center;
    padding: 5px 3px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    margin-right: 1vw;
}

.user:hover{
    border-bottom: 2px solid grey;
}

.log-out {
    width: 5em;
    background-color: whitesmoke;
    text-align: center;
    padding: 5px 3px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.log-out:hover {
    border-bottom: 2px solid grey;
}

.topics {
    padding: 0.5em;
    border-radius: 5px 5px;
}

a {
    text-decoration: none;
    color: rgb(5, 5, 5);
}

nav {
    padding-top: 1em;
}

.nav {
    font-size: larger;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(180, 180, 180);
    text-decoration: none;
    color: white;
    background-color: rgb(180, 180, 180);
    box-shadow: 2px 2px 8px 0px rgb(50, 50, 50);
    border-radius: 4px 4px;
    height: auto;
    width: auto;
  }
  
.nav:hover {
    color: rgb(180, 180, 180);
    background-color: white;
    transition: background-color 0.4s;
    transition: color 0.4s;
}

button {
    border: 1px solid black;
    border-radius: 5px/5px;
    width: 35px;
    height: 35px;
    margin: 8px;
    box-shadow: 2px 2px 1px 1px darkgrey;
}

button:hover{
    background-color: rgb(220, 220, 220);
    box-shadow: 1px 1px 1px 1px rgb(144, 144, 144);
}

ul {
    list-style: none;
}

.article-list{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-x:  hidden;
    overflow-y: scroll;
    height: 65vh;
}

.article-in-list {
    padding: 10px;
    align-items: center;
    list-style: none;
    border-radius: 10px/10px;
    padding: 5px 2vw;
    margin: 15px auto;
}

.article-in-list:hover {
    background-color: rgb(240, 240, 240);
}

.page {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-top: 0;
    height: 10vh;
}

.page * {
    margin: 10px;
    width: 80px;
    text-align: center;
}

.button-box{
    margin: 0.5em 1em;
}

.article-box {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.article-info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        'topic date'
        'title title'
        'votes comments';
}

.article-space{
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(209, 209, 209);
    margin: 0 0.5em;
}

.article-author-link {
    font-size: larger;
    font-weight: 600;
}

.article-topic{
    grid-area: topic;
}

.article-title{
    margin: 0.5em 0;
    grid-area: title;
}

.article-created_at{
    text-align: right;
    grid-area: date;
}

.article-img {
    width: 35vw;
    max-width: 300px;
}

#author {
    font-size: x-large;
    margin: auto 5vw;
}

#author:hover {
    text-decoration: underline
}

#created_at {
    font-size: larger;
    font-weight: 600;
    text-align: right;
    margin-right: 5vw;
}

.article img {
    width: 50vw;
    max-width: 400px;
    border-radius: 5px 5px;
    margin: 20px;
    margin-left: 5vh;
}

.article h3 {
    font-size: x-large;
    text-align: center;
    padding-bottom: 4px;
    border-bottom: 1px dashed black;
    width: 90vw;
    margin: 0 auto;
    margin-top: 15px;
}

#body {
    margin-left: 5vw;
    width: 90vw;
    text-align: justify;
    line-height: 1.5;
}

.article section {
    display: flex;
    flex-direction: row;
    margin: 30px 5vw;
}

#comments {
    font-size: larger;
    margin-left: 5vw;
    margin-bottom: 0.8em;
}

.comment-list {
    width: 90vw;
    margin: auto;
    overflow-x:  hidden;
    overflow-y: scroll;
    height: 70vh;
}

.comment-in-list {
    border: 1px dotted darkgray;
    border-radius: 4px 4px;
    margin: 1em;
}

.comment-author-link {
    font-size: larger;
    font-weight: 600;
    margin-left: 1em;
}

.comment-created-at{
    text-align: right;
    margin-right: 1em;
}

.comment-body {
    margin: 0 2em;
}

.voted {
    background-color: rgb(220, 220, 220);
}

.votes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    margin: 1em auto;
}

.comment-form {
    text-align: left;
    justify-content: center;
    align-content: center;
    margin: 0 5vw;
}

.comment-form button{
    justify-content: center;
    margin: 1em 1em;
    position: absolute;
}

.comment-form textarea{
    margin: 1em 1em;
    height: 4em;
    width: 60vw;
}

#hidden {
    position: absolute;
    transform: translateX(-200vw);
}

#not-hidden {
    position: absolute;
    background-color: lightgray;
    width: 180px;
    padding: 0.5em 0.5em;
    border: 1px solid grey;
    border-radius: 10px/10px;
    transform: translateX(10em);
}

select {
    width: 180px
}

#filter-box{
    display: flex;
    flex-direction: column;
}

#order-label{
    margin: 0.25em 0.25em;
}

#order{
    margin: auto 0.75em;
}

#topic, #sort_by, #order {
    font-size: medium;
    border: 1px solid grey;
    border-radius: 10px 0px;
    text-align: left;
    padding: 0.5em 0.5em;
    margin: 0.25em 0;
}

#filter-button {
    width: auto;
    height: auto;
    padding: 0.5em 0.5em;
    margin: 0.5em 0;
}

.error {
    font-size: x-large;
    margin: 2em;
}

.delete{
    width: auto;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.post-article {
    display: flex;
    flex-direction: column;
    border: 1px dashed gray;
    border-radius: 10px 10px;
    margin: 2em 2em;
    padding: 2em 2em;
}

#body {
    width: 50vw;
}

.avatar{
    width: 150px;
}


/* @media only screen and (min-width: 600px) {
    .article-list { 
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
            '';

    }

    .article-in-list {
        margin: 1em;
    }
} */