* {
    margin: 0;
    padding: 0;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 20vh;
}

.mini-loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    margin: auto auto;
    position: absolute;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
.header {
    height: 4em;
    padding: 1.2em 4vw;
    display: flex;
    flex-direction: row;
    background-color: #dedede;
    border-bottom: 3px solid grey;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-size: x-large;
    background-color: whitesmoke;
    text-align: center;
    padding: 0.4em 0.4em;
    border: 2px solid grey;
    border-radius: 10px 0px;

}

.header h1:hover{
    background-color: white;
}

.user, .log-out {
    font-size: medium;
    width: auto;
    background-color: whitesmoke;
    text-align: center;
    padding: 0.7em 0.5em;
    margin: 0 4px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.user:hover, .log-out:hover {
    border-bottom: 2px solid grey;
}

.topics {
    padding: 0.5em;
    border-radius: 5px 5px;
}

a {
    text-decoration: none;
    color: rgb(5, 5, 5);
}

nav {
    padding-top: 1em;
}

.button-box{
    margin: 0.5em 1em;
}

.nav {
    font-size: large;
    font-weight: 500;
    margin: 10px;
    padding: 0.3em;
    border: 2px solid rgb(180, 180, 180);
    text-decoration: none;
    color: white;
    background-color: rgb(180, 180, 180);
    box-shadow: 2px 2px 8px 0px rgb(50, 50, 50);
    border-radius: 4px 4px;
    height: auto;
    width: auto;
  }
  
.nav:hover {
    color: rgb(180, 180, 180);
    background-color: white;
    transition: background-color 0.4s;
    transition: color 0.4s;
}

button {
    border: 1px solid black;
    border-radius: 5px/5px;
    width: 35px;
    height: 35px;
    margin: 8px;
    box-shadow: 2px 2px 1px 1px darkgrey;
}

button:hover{
    background-color: rgb(220, 220, 220);
    box-shadow: 1px 1px 1px 1px rgb(144, 144, 144);
}

ul {
    list-style: none;
}

.article-list{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-x:  hidden;
    overflow-y: scroll;
    height: calc(100vh - 238px);
}

.article-in-list {
    padding: 0.5em 2vw;
    margin: 0 2vw;
    align-items: center;
    list-style: none;
    border-radius: 10px/10px;
}

.article-in-list:hover {
    background-color: rgb(240, 240, 240);
}

.page {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-top: 0;
    height: 60px;
}

.page * {
    margin: 10px;
    width: 70px;
    text-align: center;
}

.article-box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        'title title'
        'img details';
}

.article-info {
    grid-area: details;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        'date date'
        'topic author'
        'votes comments';
    width: 100%;
}

.article-author {
    text-align: center;
    margin: auto;
    grid-area: author;
}

.article-topic{
    grid-area: topic;
    text-align: center;
    margin: auto;
}

.article-title{
    margin: 0.6em 0.5em;
    grid-area: title;
    text-align: center;
}

.article-created_at{
    text-align: right;
    padding-right: 1em;
    grid-area: date;
    margin: 0;
}

.article-votes{
    grid-area: votes;
    text-align: center;
    margin: auto;
}

.article-comments {
    grid-area: comments;
    text-align: center;
    margin: auto;
}

.article-img {
    grid-area: img;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}

.article {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

#top-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#topic-link{
    margin: 1.5em 0;
    margin-left: 5%;
    width: 4em;
}

#author {
    font-size: larger;
    margin: auto 5%;
    padding: 0.5em 0.5em;
}

#author:hover {
    text-decoration: underline
}

#created_at {
    margin: 1.5em 0;
    font-weight: 600;
    margin-right: 5%;
    text-align: right;
    display: flex;
    align-items: center;
}

.article img {
    width: 60%;
    border-radius: 5px 5px;
    margin: 1em;
}

.article h3 {
    font-size: x-large;
    text-align: center;
    padding-bottom: 4px;
    border-bottom: 1px dashed black;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}

#article-body {
    margin: 0 5%;
    width: 90%;
    text-align: justify;
    line-height: 1.5;
}

#comments {
    font-size: larger;
    margin-left: 5%;
    padding-bottom: 4px;
    border-bottom: 1px dashed black;
}

.comment-list {
    width: 90%;
    margin: auto;
    overflow-x:  hidden;
    overflow-y: scroll;
    max-height: 65vh;
}

.comment-in-list {
    border: 1px dotted darkgray;
    border-radius: 4px 4px;
    margin-bottom: 0.6em;
    list-style: none;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        'author date'
        'body body'
        'votes votes';
}

.comment-author-link {
    font-size: larger;
    font-weight: 500;
    grid-area: author;
    margin: 0.6em 0;
    text-align: left;
    padding-left: 0.3em;
}

.comment-created-at{
    text-align: right;
    margin: auto;
    grid-area: date;
}

.comment-body {
    margin: 0.2em 0.4em;
    grid-area: body;
    text-align: start;
}

.voted {
    background-color: rgb(220, 220, 220);
}

.votes {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin: 0.2em auto;
    grid-area: votes;
}

.comment-form {
    text-align: left;
    justify-content: center;
    align-content: center;
    margin: 0.4em 5%;
}

.comment-form button{
    justify-content: center;
    margin: 1.4em 1em;
    position: absolute;
    height: 3em;
    width: 5em;
}

.comment-form textarea{
    margin: 1em 1em;
    height: 4em;
    width: 70%;
}

#hidden {
    position: absolute;
    transform: translateX(-200vw);
}

#not-hidden {
    position: absolute;
    background-color: lightgray;
    width: 180px;
    padding: 0.5em 0.5em;
    border: 1px solid grey;
    border-radius: 10px/10px;
    transform: translateX(10em);
}

select {
    width: 180px
}

#filter-box{
    display: flex;
    flex-direction: column;
}

#order-label{
    margin: 0.25em 0.25em;
}

#order{
    margin: auto 0.75em;
}

#topic_filter, #sort_by, #order {
    font-size: medium;
    border: 1px solid grey;
    border-radius: 10px 0px;
    text-align: left;
    padding: 0.5em 0.5em;
    margin: 0.25em 0;
}

#filter-button {
    width: auto;
    height: auto;
    padding: 0.5em 0.5em;
    margin: 0.5em 0;
}

.error {
    font-size: x-large;
    margin: 2em;
}

.delete{
    width: auto;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.post-article-box {
    max-width: 600px;
    margin: auto;
}

.post-article {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        'title-label title'
        'select-label post-topic'
        'topic-label topic'
        'article-label body'
        '_ button';

    border: 1px dashed gray;
    border-radius: 6px 6px;
    margin: 1em 1em;
    padding: 1em 1em;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

#title-label{
    grid-area: title-label;
}
#select-label{
    grid-area: select-label;
}
#topic-label{
    grid-area: topic-label;
}
#article-label{
    grid-area: article-label;
}

#title{
    grid-area: title;
}
#post-topic{
    grid-area: post-topic;
    padding: 0.25em 0.5em;
    margin: 0.8em 0;
    width: 54%;
}
#topic{
    grid-area: topic;
}
#body{
    grid-area: body;
}

.post-article input{
    font-size: medium;
    border: 1px solid grey;
    text-align: left;
    padding: 0.25em 0.5em;
    margin: 0.8em 0;
    width: 50%;
}

.post-article textarea{
    width: 90%;
    height: 15vw;
    padding: 0.5em 0.5em;
    margin: 0.8em 0;
}

#submit-article {
    width: 50%;
    height: 50px;
    margin: 1em 0;
    padding: 1em 1em;
    grid-area: button;
}

.avatar{
    width: 100px;
    margin: 10px 5vw;
    padding: 5px 5px;
    border: 1px dotted grey;
    border-radius: 10px 10px;
}

#user-page h3, h4, p {
    margin: 0.5em 5vw;
}

#user-header{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid gray;
}

@media only screen and (min-width: 700px) {
    .article-list { 
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        max-width: 950px;
    }

    .article-in-list{
        width: auto;
        margin: 0.5em 0.5em;
        border: 1px dotted grey;
    }

    .button-box{
        text-align: center;
    }
}

#guest{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    background-color: #f7f7f7;
    padding: 1em 2em;
    width: 75vw;
    border-radius: 5px 5px;
    border: 1px dashed grey;
    max-width: 600px;
}

#login_btn{
    width: 12em;
    height: 3em;
}

#new_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    padding: 1em 2em;
    background-color: #f7f7f7;
    width: 75vw;
    border-radius: 5px 5px;
    border: 1px dashed grey;
    max-width: 600px;
}

.input-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    background-color: #f7f7f7;
    padding: 1em 2em;
    width: 75vw;
    border-radius: 5px 5px;
    border: 1px dashed grey;
    max-width: 600px;
}

#login form,
#new_user form{
    text-align: center;
    width: 18em;
}

#login input{
    margin: auto 10px;
}

.error {
    color: red;
    font-size: medium;
    margin: 0 0;
}

.loading_box {
    width: 288px;
    height: 178px;
    display: flex;
    justify-content: center;
    align-items: center;
}